<h1>Sample app</h1>
<p>Home page!!!!!! wii</p>
<p>hola hola <%= "hola".reverse %> </p>
  
<%= link_to "Sing up now!", singup_path, :class => "singup_button round" %>

<p>&nbsp;</p>
<p>&nbsp;</p>


<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fapps.facebook.com%2Frubyrrrrr%2F&amp;width=292&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=232742566793589" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:258px;" allowTransparency="true"></iframe>