
<h1>Sample app</h1>
<p>Home page!!!!!! wii</p>
<p>hola hola <%= "hola".reverse %> </p>
  
<%= link_to "Sing up now!", singup_path, :class => "singup_button round" %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<iframe src="https://www.facebook.com/plugins/like.php?href=http://apps.facebook.com/rubyrrrrr/"
scrolling="no" frameborder="0"></iframe>