<p>&nbsp;</p>
<center>
<h1>Escucha la x Medellin!!!!</h1>
<embed pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" showgotobar="false" transparentatstart="true" autostart="false" showstatusbar="true" src="http://66.240.202.106:8074" type="application/x-mplayer2" height="45" width="400" bbclient="0" name="MC1">
<p>&nbsp;</p>
<h1>Escucha radio sonica</h1>	
<embed type="application/x-shockwave-flash" allowscriptaccess="never" allownetworking="internal" src="http://www.ibizasonica.com/flash/shoutcast_def.swf" wmode="transparent" base="http://www.ibizasonica.com/flash/" height="170" width="300">
</center>