<h1>Para mateo</h1>
<form name="fomularioMateo"> 
	<select name="mateo"> 
		<option id="1" value="Gay">Gay</option>
		<option id="2" value="Locota">Locota</option>
		<option id="3" value="Perro hp">Perro hp</option>
	</select>
</form>
<input type="button" value="tonces?" onclick="mateo()"> 

<p>&nbsp;</p>

<h1>Para ruben</h1>
<form name="fomularioRuben"> 
	<select name="ruben"> 
		<option id="1" value="Mirame este">Mirame este</option>
		<option id="4"value="Hay hay hay">Hay hay hay</option>
		<option id="3"value="Mas # seras vos">Mas # seras vos</option>
	</select>
</form>
<input type=button value="Hacele pues" onclick="ruben()"> 