<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=232742566793589";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>El javascript</h1>
<form name="fomularioJ"> 
	<select name="pruebita"> 
		<option id="1" value="oelo">Oelo</option>
		<option id="2" value="Ramirito">Ramirito</option>
		<option id="3" value="Mateo">Mateo</option>
	</select>
</form>
<input type="button" value="tonces?" onclick="prueba()"> 

<p>&nbsp;</p>
<div class="fb-comments" data-href="http://lomio.heroku.com/news" data-num-posts="10" data-width="500"></div>