<h1>El javascript</h1>
<form name="fomularioJ"> 
	<select name="pruebita"> 
		<option id="1" value="oelo">Oelo</option>
		<option id="2" value="Ramirito">Ramirito</option>
		<option id="3" value="Mateo">Mateo</option>
	</select>
</form>
<input type="button" value="tonces?" onclick="prueba()"> 

<p>&nbsp;</p>
