<footer>
	<nav class="round">
		<ul>
			 <li><%= link_to "About", about_path %></li>	
			 <li><%= link_to "Contact", contact_path %></li>	
			 <li><%= link_to "news", news_path%></li>	
			 <li><%= link_to "Sebastian", '#'%></li>	
	 	</ul>
	</nav>	
</footer>