<footer>
	<nav class="round">
		<ul>
			 <li><%= link_to "About", '#'%></li>	
			 <li><%= link_to "Contact", '#'%></li>	
			 <li><%= link_to "news", '#'%></li>	
			 <li><%= link_to "Sebastian", '#'%></li>	
	 	</ul>
	</nav>	
</footer>